name: Pysen and Pytest Check
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pysen-and-pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv pip install -r requirements-dev.txt --system

      - name: Run Pytest
        run: uv run pytest tests

      - name: Run Pysen
        run: uv run pysen run lint
